target
*.class
*.exe
*.jar
*.iml
*.ipr
*.iws
*.war
*.log
*.a
**/bin
**/gen
node_modules/
log.txt
build/
bin/
pkg/
.gradle/
.idea/
.project/
.settings/
!*wrapper*.jar
!**/.classpath
!**/.project
